.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  color: white;
}

.App-header {
  display: flex;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-input-container {
  display: flex;
  justify-content: space-evenly;
}
